@import url("https://fonts.cdnfonts.com/css/dm-sans");
@import url("https://fonts.cdnfonts.com/css/dm-serif-text");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 82%; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 77%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 75%; } }

/* 
mobile portrait - (0 -375px)
mobile landscape - (376px -480px)
mobile portrait - (481px -768px)
mobile landscape & laptop - (769px  -1024px)
mobile portrait - (1025px  -1200px)


*/
body {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #504f4f; }

.u-float-right {
  float: right !important; }

.u-text-align-right {
  text-align: right !important; }

.t1 {
  font-family: "DM Serif Text", sans-serif; }

.button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0.12em; }
  .button__header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.313rem;
    letter-spacing: 0.12em;
    text-align: center; }
  .button__purple {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.313rem;
    text-align: center;
    letter-spacing: 0.12em;
    color: #ffffff; }

.navigation__main--left-p {
  color: #000000;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.28em;
  text-align: left; }

.navigation__main--item a {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #000000; }
  @media only screen and (max-width: 700px) {
    .navigation__main--item a {
      font-size: 1rem;
      line-height: 1.4rem; } }

.hero {
  text-align: left; }
  .hero__header-h {
    font-family: "DM Serif Text", sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em; }
  .hero__header-p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.01em;
    letter-spacing: 1%; }
    @media only screen and (max-width: 1024px) {
      .hero__header-p {
        font-size: 1.2rem;
        line-height: 1.4rem; } }
    @media only screen and (max-width: 650px) {
      .hero__header-p {
        font-size: 1.2rem;
        line-height: 1.4rem; } }
    @media only screen and (max-width: 440px) {
      .hero__header-p {
        font-size: 1rem;
        line-height: 1.4rem; } }

.plan {
  font-family: "DM Serif Text", sans-serif; }
  .plan__mid-box-h {
    font-size: 3rem;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 1 !important; }
  .plan__mid-box-p {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0.12em;
    text-align: center; }
  .plan__top {
    text-align: center; }
    .plan__top-h {
      font-size: 3rem;
      font-weight: 400;
      line-height: 3.5rem;
      letter-spacing: 0em;
      text-align: center; }
  .plan__bottom {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left; }

.main {
  text-align: center;
  font-family: "DM Serif Text", sans-serif; }
  .main__header-p {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: center; }
  .main__content {
    margin: 0 auto; }
  .main__top--img-p {
    color: #ef8094;
    font-family: DM Serif Text;
    font-size: 220px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left; }
  .main__top--aside-h {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: left; }
  .main__top--aside-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    text-align: left; }
    @media screen and (max-width: 668px) {
      .main__top--aside-p {
        font-size: 1rem; } }
    @media screen and (max-width: 650px) {
      .main__top--aside-p {
        font-size: 1.2rem; } }
  .main__mid--img-p {
    font-size: 220px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #ef8094; }
  .main__mid--aside-h {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: left; }
  .main__mid--aside-p {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: center; }
  .main__bottom--img-p {
    font-family: DM Serif Text;
    font-size: 220px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #ef8094; }
  .main__bottom--aside-h {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: left; }
  .main__bottom--aside-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    text-align: left; }
    @media screen and (max-width: 750px) {
      .main__bottom--aside-p {
        font-size: 1rem; } }
    @media screen and (max-width: 650px) {
      .main__bottom--aside-p {
        font-size: 1.2rem; } }

.social__header {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: center; }

.social__main--box-p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000; }

.footer {
  color: #000000; }
  .footer__top__right--list {
    list-style: none; }
  .footer__mid--list {
    list-style: none; }
    .footer__mid--list li:first-child :first-child {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.12em;
      text-align: left; }
  .footer__mid--link {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: 0.12em;
    text-align: left;
    text-decoration: none;
    color: #000000; }
  .footer__bottom--list {
    list-style: none; }
  .footer__bottom--link {
    text-decoration: none;
    color: #000000; }

.button {
  width: 124px;
  height: 37px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 300px; }
  .button__header {
    width: 183px;
    height: 61px;
    background: #ffffff;
    border: 4px solid #ef8094;
    border-radius: 300px;
    margin-top: 2rem; }
    .button__header--big {
      width: 284px;
      height: 61px;
      background: #ffffff;
      border: 4px solid #ef8094;
      border-radius: 300px;
      margin-top: 7rem; }
  .button__purple {
    width: 200px;
    height: 61px;
    background: #ef8094;
    border: 4px solid #ef8094;
    border-radius: 300px;
    margin-top: 1.25rem;
    opacity: 1 !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.12em;
    text-align: center; }
    .button__purple--big {
      width: 320px;
      height: 61px;
      left: 0px;
      background: #ef8094;
      border: 4px solid #ef8094;
      border-radius: 300px;
      margin-top: 3rem;
      margin-bottom: 5.8rem; }

.contactus__main {
  position: relative;
  background-image: url(/image/cbg1.png);
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 846px; }
  @media only screen and (max-width: 1024px) {
    .contactus__main {
      background-image: url(/image/cbg2.png); } }
  @media only screen and (max-width: 600px) {
    .contactus__main {
      background-image: url(/image/cbg3.png); } }
  .contactus__main__content2 {
    height: 560px;
    max-width: 1100px;
    position: absolute;
    top: 75px;
    left: 170px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(19px); }

.footer {
  margin-top: 2rem; }
  .footer__main {
    margin: 0 auto;
    max-width: 1381px;
    max-height: 479px;
    background: #eeeeee;
    border: 2px solid rgba(196, 196, 196, 0.3);
    border-radius: 6px; }
  .footer__top {
    display: flex;
    justify-content: space-between; }
    .footer__top__right--list {
      display: flex;
      align-items: center;
      gap: 2rem; }
  .footer__mid {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex; }
    @media only screen and (max-width: 1024px) {
      .footer__mid {
        flex-direction: column;
        padding: 0 4rem; } }
    .footer__mid--container {
      display: flex;
      justify-content: space-between;
      flex: 1; }
      .footer__mid--container-box {
        display: flex;
        flex: 1;
        justify-content: space-between; }
    .footer__mid--list {
      flex: 25%; }
  .footer__bottom {
    padding-top: 24px;
    border-top: 2px solid rgba(196, 196, 196, 0.3); }
    .footer__bottom-box {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      justify-content: space-between; }
      @media only screen and (max-width: 1024px) {
        .footer__bottom-box {
          flex-direction: column-reverse; } }
    .footer__bottom--list {
      display: flex;
      gap: 2rem; }
    .footer__bottom--link {
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-align: left; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.navigation {
  width: 100%;
  margin-top: -0.7rem; }
  .navigation__menubar {
    width: 55px; }
    @media only screen and (min-width: 650px) {
      .navigation__menubar {
        display: none; } }
  .navigation__main {
    margin-top: -0.4rem;
    padding: 0 5.7rem;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    @media only screen and (max-width: 1024px) {
      .navigation__main {
        padding: 0 2rem; } }
    .navigation__main--left {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: start; }
    .navigation__main--right {
      list-style: none; }
      @media only screen and (max-width: 650px) {
        .navigation__main--right {
          display: none; } }
    .navigation__main--list {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2.5rem; }
      @media only screen and (max-width: 1024px) {
        .navigation__main--list {
          gap: 1.5rem; } }
    .navigation__main--item {
      list-style: none; }
      .navigation__main--item a {
        text-decoration: none; }

.hero {
  max-height: 622px;
  background: #f5f8ff; }
  .hero__content {
    height: 622px;
    padding: 1.2rem 5.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 1024px) {
      .hero__content {
        padding: 1.2rem 2rem; } }
    @media only screen and (max-width: 700px) {
      .hero__content {
        flex-direction: row;
        justify-content: center; } }
  .hero__header {
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 1024px) {
      .hero__header {
        align-self: flex-start; } }
    @media only screen and (max-width: 700px) {
      .hero__header {
        margin-top: 3rem; } }
    .hero__header-p {
      margin-top: 1.3rem; }
  .hero__img {
    height: 1rem;
    width: 1rem; }
    .hero__img-1 {
      position: absolute;
      left: calc(50% - 1092px / 2 + 218.5px);
      top: 207px;
      z-index: 3; }
      @media only screen and (max-width: 1024px) {
        .hero__img-1 {
          top: 21%; } }
      @media only screen and (max-width: 700px) {
        .hero__img-1 {
          top: 35%;
          left: -70px; } }
      @media only screen and (max-width: 600px) {
        .hero__img-1 {
          top: 35%;
          left: 80px; } }
      @media only screen and (max-width: 500px) {
        .hero__img-1 {
          top: 35%;
          left: 50px; } }
      @media only screen and (max-width: 440px) {
        .hero__img-1 {
          top: 35%;
          left: 20px; } }
      @media only screen and (max-width: 400px) {
        .hero__img-1 {
          top: 35%;
          left: 0px; } }
      @media only screen and (max-width: 375px) {
        .hero__img-1 {
          position: absolute;
          top: 35%;
          left: calc(96% - 716.44px / 2); } }
    .hero__img-2 {
      z-index: 2;
      position: absolute;
      left: calc(50% - 276.32px / 2 + 456.99px);
      top: 235.58px; }
      @media only screen and (max-width: 1024px) {
        .hero__img-2 {
          display: none; } }

.plan {
  max-height: 624px;
  padding-top: 4.375rem; }
  @media screen and (max-width: 700px) {
    .plan {
      margin-top: 20rem; } }
  @media only screen and (max-width: 375px) {
    .plan {
      margin-top: 8rem; } }
  @media screen and (max-width: 650px) {
    .plan {
      margin-bottom: 15rem; } }
  .plan__content {
    max-width: 79.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .plan__mid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    gap: 6rem; }
    @media only screen and (max-width: 1024px) {
      .plan__mid {
        gap: 4rem; } }
    @media only screen and (max-width: 650px) {
      .plan__mid {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem; } }
    .plan__mid-box {
      position: relative;
      flex: 1;
      max-width: 35.938rem;
      height: 18.188rem;
      border: 4px solid rgba(196, 196, 196, 0.3);
      border-radius: 6px;
      padding-top: 3.125rem; }
      @media only screen and (max-width: 650px) {
        .plan__mid-box {
          width: 100%; } }
      .plan__mid-box-bg {
        background-image: url(/image/bg1.png); }
      .plan__mid-box-bg2 {
        background-image: url(/image/bg2.png); }
  .plan__bottom {
    margin-bottom: 6rem; }

.main {
  background: #e5e5e5;
  max-height: 1950px;
  font-family: "DM Serif Text", sans-serif;
  padding-left: 10rem; }
  @media only screen and (max-width: 1024px) {
    .main {
      padding-left: 0; } }
  @media screen and (max-width: 650px) {
    .main {
      margin-bottom: 20rem; } }
  .main__header {
    margin-top: 3rem;
    max-width: 87%;
    text-align: center; }
  .main__content {
    margin: 0 auto; }
  .main__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; }
    @media screen and (max-width: 668px) {
      .main__top {
        gap: 1.5rem; } }
    @media only screen and (max-width: 650px) {
      .main__top {
        flex-direction: column; } }
    .main__top--img-box {
      margin-top: 10%;
      position: relative; }
    .main__top--img-2 {
      position: absolute;
      left: -87px;
      top: -12px;
      z-index: -1; }
    .main__top--img-p {
      position: relative;
      left: 27px;
      top: -325px; }
  .main__mid {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; }
    @media only screen and (max-width: 650px) {
      .main__mid {
        margin-top: 18rem; } }
    .main__mid--img-box {
      width: 0%;
      position: relative;
      z-index: 1; }
    .main__mid--img-2 {
      position: absolute;
      top: 50px;
      left: -75px;
      z-index: -1; }
      @media only screen and (max-width: 650px) {
        .main__mid--img-2 {
          top: 120px;
          left: -75px; } }
      .main__mid--img-2-2 {
        position: absolute;
        top: -70px;
        left: 210px;
        z-index: -2; }
        @media only screen and (max-width: 650px) {
          .main__mid--img-2-2 {
            display: none; } }
    .main__mid--img-p {
      position: absolute;
      top: 250px;
      left: -78px; }
      @media only screen and (max-width: 650px) {
        .main__mid--img-p {
          top: -120px;
          left: 0px; } }
    .main__mid--aside {
      margin: 0 auto;
      text-align: center; }
      .main__mid--aside-h {
        text-align: center; }
      .main__mid--aside-p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.01em; }
  .main__bottom {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem; }
    @media screen and (max-width: 668px) {
      .main__bottom {
        gap: 1.5rem; } }
    @media only screen and (max-width: 650px) {
      .main__bottom {
        margin-top: 8rem;
        flex-direction: column;
        align-items: center; } }
    .main__bottom--img-box {
      position: relative; }
    .main__bottom--img-2 {
      position: absolute;
      top: 62%;
      right: -80px; }
    .main__bottom--img-p {
      position: absolute;
      left: 0;
      top: 120px; }

.social {
  margin: 0 auto;
  background: #f5f8ff;
  text-align: center; }
  @media only screen and (max-width: 650px) {
    .social {
      padding: 4rem 2rem; } }
  .social__header {
    margin-top: 6rem;
    padding-bottom: 3rem; }
  .social__main {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%; }
    @media only screen and (max-width: 650px) {
      .social__main {
        flex-direction: column;
        gap: 6rem;
        margin-bottom: 2rem; } }
    .social__main--main--box {
      flex: 50%;
      display: flex;
      gap: 0.5rem; }
      @media only screen and (max-width: 1264px) {
        .social__main--main--box {
          justify-content: center;
          align-items: center;
          gap: 6rem; } }
      @media only screen and (max-width: 650px) {
        .social__main--main--box {
          flex-direction: column;
          flex: 100%; } }
    .social__main--box {
      max-width: 50%; }
      @media only screen and (max-width: 650px) {
        .social__main--box {
          flex-direction: column;
          max-width: 100%; } }
