* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;

  @media only screen and (max-width: 1024px) {
    font-size: 90%;
  }
  @media only screen and (max-width: 900px) {
    font-size: 82%;
  }
  @media only screen and (max-width: 800px) {
    font-size: 80%;
  }

  @media only screen and (max-width: 700px) {
    font-size: 77%;
  }
  @media only screen and (max-width: 600px) {
    font-size: 75%;
  }
}

/* 
mobile portrait - (0 -375px)
mobile landscape - (376px -480px)
mobile portrait - (481px -768px)
mobile landscape & laptop - (769px  -1024px)
mobile portrait - (1025px  -1200px)


*/

body {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: $color-font-1;
  // position: relative;
}
