.contactus {
  &__main {
    position: relative;
    background-image: url(/image/cbg1.png);
    background-repeat: no-repeat;
    // max-height: 846px;
    max-width: 1440px;
    height: 846px;

    @media only screen and (max-width: 1024px) {
      background-image: url(/image/cbg2.png);
    }
    @media only screen and (max-width: 600px) {
      background-image: url(/image/cbg3.png);
    }
    &__content2 {
      height: 560px;
      max-width: 1100px;

      position: absolute;
      top: 75px;
      left: 170px;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(19px);
    }
    &__content {
    }

    &--box {
    }

    &--img {
    }

    &--form {
      // form outter
    }
  }
  &__form {
    &--p {
    }
    &--email {
    }

    &--textbox {
      &-input {
      }
    }

    &--checkbox {
      &-input {
      }
    }
  }
}
